#navbar{
    display:flex;
    justify-content: space-around;
    background-color: blue;
    font-size: 25px;
    color: white;
    padding: 10px;
}
a{
    text-decoration: none;
    color:white;
}
#bd{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top: 10px;
}